__pycache__/
*.py[cod]
venv/
.venv/
dataset/
videos/
.env
.env.*

# Không push frame cache
cache/frames/

# Không push plots
cache/plots/

# Không push checkpoint lớn
cache/model3/*.pth
cache/model4/*.pth

# Không push checkpoint cuối
cache/**/last.pth
